@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 430px;
  min-height: 923px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
  background: linear-gradient(180deg, rgba(99, 87, 170, 90%) 0%, rgba(39, 32, 82, 90%) 100%);;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  padding-top: 1.7em;
}
.search {
  padding-top: 1.4em;
}

.movie-page-layout {
  display: flex;
  flex-direction: column;
}

.movie-page {
  text-decoration: none;
  color: white;
  padding-bottom: 2em;
}

.movie-page:hover {
  color: #EBB99E;
}