@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 430px;
  min-height: 923px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (min-width: 430px) and (max-width: 430px) and (min-height: 923px) and (max-height: 923px) {
  #root {
    background: linear-gradient(180deg, rgba(99, 87, 170, 90%) 0%, rgba(39, 32, 82, 90%) 100%);
  }
}